* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  overflow: auto;
}

table {
  border: 1px solid white;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-family: sans-serif;
}

thead {
  border-bottom: 1px solid white;
}

tr {
  border-bottom: 1px solid white;
}

th,
td {
  text-align: center;
  padding: 20px;
  background: black;
  color: white;
  padding: 20px;
}

td {
  border-right: 1px solid white;
}